<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- mon css -->
    <link href="css.css" rel="stylesheet">
    <!-- titre -->
    <title>Acceuil</title>

    <!-- DEBUT -->
</head>

<body>
    <!-- Annonce + logo -->
    <div class="container test">
        <div>logo
            <img src="ref/masque.jpg">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Annonce</button>

        </div>
    </div>

    <!-- carte -->
    <div class="container test">
        <div>
            photo
            <div>
                titre
                <div>
                    button voir plus
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="container test">
        <div> nombre page

        </div>
    </div>







































</body>

</html>